# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Translation-system.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Stanislav\Desktop\translation-system\translation-system\.idea\.idea.Translation-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
